{% extends 'base.html' %}
{% block content %}

<body class="main-layout inner_posituong contact_page">
   <div class="products">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Total do seu carrinho</h2>
                  <h3 class="display-4">R$ {{ preco_tot }}</h3>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="our_products">
                  <div class="row">
                     {% for p in car %}
                     <div class="col-md-4 margin_bottom1">
                        <div class="product_box">
                           <figure><img src="{{car[p].url_foto}}" width="200" height="100" alt="#" /></figure>
                           <h3>{{ car[p].nome}}</h3>
                           <p class="font-italic mb-0 small">{{ car[p].desc }}</p>
                           <h6 class="font-weight-bold my-2">R$ {{ car[p].preco }}</h6>
                           {%if car[p]["nome"] == "Exterminator i9" or car[p]["nome"]
                           == "Workstation R1"%}
                           <h6 id="desconto" class="font-weight-bold my-2">40% de desconto nesse computador!</h6>
                           {% endif %}
                           <li class="list-inline-item m-0">
                              <form action="/produto/{{ p }}" method="get" id="verprod">
                                 <button class="btn btn-dark" style="margin-bottom:1rem ;"
                                    type="submit">ver</button>
                              </form>
                           </li>
                           <li class="list-inline-item m-0">
                              <form method="POST" action="/carrinho/excluir/{{ p }}"><button class="btn btn-danger"
                                    style="margin-bottom:1rem ;" type="submit">Remover</button></form>
                           </li>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
                  {% if car %}
                  <a class="read_more" href="/time">Finalizar compra</a>
                  {% else %}
                  <a class="read_more" href="#">Adicione produtos ao seu carrinho!</a>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
{% endblock %}