{% extends 'base.html' %}
{% block content %}
<body class="main-layout inner_posituong contact_page">
   <div class="laptop">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="titlepage">
                  <p>Todo computador e notebook</p>
                  <h2>Até 40% de desconto!!</h2>
                  <a class="read_more" href="/produto">Compre agora!</a>
               </div>
            </div>
            <div class="col-md-6">
               <div class="laptop_box">
                  <figure><img src="{{url_for('static', filename='pc.png')}}" alt="Imagem de um computador" /></figure>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</body>

{% endblock %}