{% extends 'base.html' %}
{% block content %}
<body class="main-layout inner_posituong contact_page">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2>Faça a edição do produto.</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <form method="post" id="request" class="main_form"
            action="">
            <div class="row">
              <div class="col-md-12 ">
                nome prod
              </div>
              <div class="col-md-12">
                preco prod
              </div>
              <div class="col-md-12">
                ana fabrica
              </div>
              <div class="col-md-12">
                desricao
              </div>
              <div class="col-md-12">
                imagem
              </div>
              <div>
                <div class="titlepage">
                  <p class="mb-0 col-md-4">
                    finalizao edicao
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}