<!DOCTYPE html>
<html lang="pt-BR">

<head>

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">

   <title>Calada Informática</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">

   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
   <!-- JavaScript Bundle with Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"></script>

   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename= 'style.css')}}">
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename= 'responsive.css')}}">


</head>
<!-- body -->

<body class="main-layout">
   <!-- header -->
   <header>
      <!-- header inner -->
      <div class="header">
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                           <a href="/"><img src="{{url_for('static', filename='logo.png')}}" alt="#" /></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <nav class="navigation navbar navbar-expand-md navbar-dark ">
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarsExample04">
                        <ul class="navbar-nav mr-auto">
                           <li class="nav-item active">
                              <a class="nav-link" href="/">Home</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/sobre">Sobre</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/computador">Computadores</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/notebook">Notebooks</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/produto">Produtos</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/contato">Nos contate!</a>
                           </li>
                           {% if "usuario_logado" in session %}
                           <li class="nav-item d_none">
                              <a class="nav-link a" href="#"><button class="btn btn-outline-dark" type="button"
                                    onclick="javascript:logoutClick()">Sair</button></a>
                              <form action="{{ url_for('logout') }}" id="form_logout" method="POST"
                                 style="display: none"></form>
                           </li>
                           {% else %}
                           <li class="nav-item d_none">
                              <a class="nav-link" href="/login">Login</a>
                           </li>
                           {% endif %}
                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- end header inner -->
   <!-- end header -->
   <!-- banner -->
   <section class="banner_main">
      <div id="banner1" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container">
                  <div class="carousel-caption">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="text-bg">
                              <span>Computador e notebook</span>
                              <h1>Acessórios</h1>
                              <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                 suffered alteration in some form, by injected humour, or </p>
                              <a href="#">Compre agora</a> <a href="contato.html">Contato </a>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="text_img">
                              <figure><img src="{{url_for('static',filename= 'pct.png')}}" alt="#" /></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
   </section>
   <!-- end banner -->
   <!-- three_box -->
   <div class="three_box">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="box_text">
                  <i><img src="{{url_for('static',filename= 'thr.png')}}" alt="#" /></i>
                  <h3>Computador</h3>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                     alteration in some form, by injected humour, or randomised words which don't look even slightly
                     believable. </p>
               </div>
            </div>
            <div class="col-md-6">
               <div class="box_text">
                  <i><img src="{{url_for('static',filename= 'thr1.png')}}" alt="#" /></i>
                  <h3>Notebook</h3>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                     alteration in some form, by injected humour, or randomised words which don't look even slightly
                     believable. </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- three_box -->
   <!-- products -->
   <div class="products">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Nossos produtos em destaque!</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="our_products">
                  <div class="row">
                     <div class="col-md-4 margin_bottom1">
                        <div class="product_box">
                           <figure><img src="{{prods[1].url_foto}}" width="200" height="100" alt="#" /></figure>
                           <h3 onclick="javascript:verproduto()">{{prods[1].nome}}</h3>
                           <form action="/produto/{{ 1 }}" method="get" id="verprod" style="display: none"></form>
                        </div>
                     </div>
                     <div class="col-md-4 margin_bottom1">
                        <div class="product_box">
                           <figure><img src="{{prods[2].url_foto}}" width="200" height="100" alt="#" alt="#" /></figure>
                           <h3 onclick="javascript:verproduto2()">{{prods[2].nome}}</h3>
                           <form action="/produto/{{ 2 }}" method="get" id="verprod2" style="display: none"></form>
                        </div>
                     </div>
                     <div class="col-md-4 margin_bottom1">
                        <div class="product_box">
                           <figure><img src="{{prods[3].url_foto}}" width="200" height="100" alt="#" alt="#" /></figure>
                           <h3 onclick="javascript:verproduto3()">{{prods[3].nome}}</h3>
                           <form action="/produto/{{ 3 }}" method="get" id="verprod3" style="display: none"></form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
   <!-- end products -->
   <!-- laptop  section -->
   <div class="laptop">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="titlepage">
                  <p>Todos os computadores e em breve notebooks</p>
                  <h2>Até 40% de desconto!</h2>
                  <a class="read_more" href="/produto">Compre agora!</a>
               </div>
            </div>
            <div class="col-md-6">
               <div class="laptop_box">
                  <figure><img src="{{url_for('static',filename= 'pc.png')}}" alt="#" /></figure>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   <!-- end laptop  section -->
   <!--  footer -->
   <footer>
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <img class="logo1" src="{{url_for('static',filename= 'logo1.png')}}" alt="#" />
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <h3>About Us</h3>
                  <ul class="about_us">
                     <li>dolor sit amet, consectetur<br> magna aliqua. Ut enim ad <br>minim veniam, <br> quisdotempor
                        incididunt r</li>
                  </ul>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <h3>Contact Us</h3>
                  <ul class="conta">
                     <li>dolor sit amet,<br> consectetur <br>magna aliqua.<br> quisdotempor <br>incididunt ut e </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <p>© 2022 All Rights Reserved.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- end footer -->
   <script src="{{url_for('static',filename= 'func.js')}}"></script>
</body>

</html>