{% extends 'base.html' %}
{% block content %}

<body class="main-layout inner_posituong contact_page">
   <div class="laptop1">
      <div class="container">
         <div class="row">
            <div class="col-md-7">
               <div class="laptop1_img">
                  <figure><img src="{{url_for('static', filename='leptop.jpg')}}" alt="#" /></figure>
               </div>
            </div>
            <div class="col-md-5">
               <div class="titlepage">
                  <h2>Notebook</h2>
                  <p>Estamos lançando nossa marca de notebooks em breve! Veja o clicando no link
                     abaixo mais sobre ele.
                  </p>
                  <a class="read_more" href="/ver_principal">Ver produto!</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>

{% endblock %}