{% extends 'base.html' %}
{% block content %}

<body class="main-layout inner_posituong contact_page">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2>Faça seu cadastro.</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <form id="request" class="main_form" action="{{ url_for('login') }}" method="POST">
            <div class="row">
              <div class="col-md-12 ">
                {{form.name.label(class="col-form-label-lg")}}
                {{form.name(class="contactus")}}
              </div>
              <div class="col-md-12 ">
                {{form.username.label(class="col-form-label-lg")}}
                {{form.username(class="contactus")}}
              </div>
              <div class="col-md-12">
                {{form.email.label(class="col-form-label-lg")}}
                {{form.email(class="contactus")}}
              </div>
              <div class="col-md-12">
                {{form.password_hash.label(class="col-form-label-lg")}}
                {{form.password_hash(class="contactus")}}
              </div>
              <div class="col-md-12">
                {{form.password_hash2.label(class="col-form-label-lg")}}
                {{form.password_hash2(class="contactus")}}
              </div>
              <div class="col-md-12">
                {{form.submit(class="send_btn")}}
              </div>
              <div>
                <p class="mb-0 col-md-4">
                  <a>Já possui uma conta? <a href="{{ url_for('login') }}" class="text-white-50 fw-bold">Ir para tela de login!</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}


















