{% extends 'base.html' %}
{% block content %}
<body>
   <style>
      body {
         color: red;

      }

      div {
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: larger;
      }

      footer {
         position: fixed;
         bottom: 0;
         right: 0;
         left: 0;
      }
   </style>
   <h1 style="text-align: center;" class="display-4">Produto inexistente.</h1>
   <div>
      <a href="{{ url_for('produtos') }}" class="fw-bold">Retornar a página de produtos</a>
   </div>
   
</body>


{% endblock %}