{% extends 'base.html' %}
{% block content %}
<body class="main-layout inner_posituong contact_page">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2>Faça o cadastro do produto.</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <form method="POST" id="request" class="main_form" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12 ">
                {{ form.hidden_tag() }}
                {{form.name.label(class="col-form-label-lg")}}
                {{form.name(class="contactus")}}
              </div>
              <div class="col-md-12">
                {{form.price.label(class="col-form-label-lg")}}
                {{form.price(class="contactus")}}
              </div>
              <div class="col-md-12">
                {{form.category.label(class="col-form-label-lg")}}
                {{form.category(class="contactus")}}
              </div>
              <div class="col-md-12">
                {{form.desc.label(class="col-form-label-lg")}}
                {{form.desc(class="contactus")}}
              </div>
              <div class="col-md-12">
                {{ form.produtc_pic.label(class="col-form-label-lg") }}
                {{ form.produtc_pic(class="contactus") }}
              </div>
              <div>
                <div class="titlepage">
                  <p class="mb-0 col-md-4">
                    {{form.submit(class="send_btn")}}
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}