{% extends 'base.html' %}
{% block content %}
<body class="main-layout inner_posituong contact_page">
   <div class="contact">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Preencha seus dados para reservar</h2>
                  <h1 class="display-4">Entraremos em contato para mais dados sobre a reserva.</h1>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-10 offset-md-1">
               <form id="request" class="main_form">
                  <div class="row">
                     <div class="col-md-12 ">
                        nome
                     </div>
                     <div class="col-md-12">
                        email
                     </div>
                     <div class="col-md-12">
                        telefone
                     </div>
                     <div class="col-md-12">
                        mensagem
                     </div>
                     <div class="col-md-12">
                        enviar
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</body>
{% endblock %}