{% extends 'base.html' %}
{% block content %}

<body class="main-layout inner_posituong contact_page">
   <div class="about">
      <div class="container">
         <div class="row d_flex">
            <div class="col-md-5">
               <div class="titlepage">
                  <h2>Sobre nós</h2>
                  <p>Somos uma empresa focada nos entusiastas de computadores e tecnologia.</p>
                  <a class="read_more" href="/">Voltar a tela inicial</a>
               </div>
            </div>
            <div class="col-md-7">
               <div class="about_img">
                  <figure><img src="{{url_for('static', filename='about.jpg')}}" alt="#" /></figure>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</body>

{% endblock %}