{% extends 'base.html' %}
{% block content %}
<body class="main-layout inner_posituong contact_page">
   <div class="about">
      <div class="container">
         <div class="row d_flex">
            <div class="col-md-5">
               <div class="titlepage">
                  <h2>Time;</h2>
                  <a class="read_more" href="/">Voltar a tela inicial</a>
               </div>
            </div>
            <div class="col-md-7">
               <div class="about_img">
                  <p class="nomes">Fábio Gabriel Rodrigues Varela</p>
                    <p class="nomes">Jhoselin Tito Pari</p>
                  <p class="nomes">Samuel Henrique Ribeiro Najarro</p>
                    <p class="nomes">Wellington Santos Vieira Batista</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</body>

{% endblock %}