{% extends 'base.html' %}
{% block content %}
<body class="main-layout inner_posituong contact_page">
   <div class="products">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Nossos produtos</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="our_products">
                  <div class="row">
                     {% for p in prods %} 
                     <div class="col-md-4 margin_bottom1">
                        <div class="product_box">
                           <figure><img id="imagemprod" src="{{ url_for('static', filename='prod_images/' + p.produtc_pic)}}" alt="Imagem do produto" /></figure>
                           <h3 >{{ p.name }}</h3>
                           <h6 class="font-weight-bold my-2">R$ {{ p.price }}</h6>
                           {% if current_user.is_authenticated and current_user.admin == False%}
                           <li class="list-inline-item m-0">
                              <form method="POST" action=""><button class="btn btn-info"
                                 style="margin-bottom:1rem ;" type="submit">Adicionar ao carrinho</button></form>
                           </li>
                           {% endif %}
                           <li class="list-inline-item m-0">
                              <form method="GET" action="/ver/{{p.id}}"><button class="btn btn-primary"
                                 style="margin-bottom:1rem ;" type="submit">Ver</button></form>
                           </li>
                           {% if current_user.admin == True %}
                           <li class="list-inline-item m-0">
                              <form method="POST" action="/delete-product/{{p.id}}"><button class="btn btn-danger"
                                    style="margin-bottom:1rem ;" type="submit">Excluir</button></form>
                           </li>
                           <li class="list-inline-item m-0">
                              <form method="POST" action="/update-product/{{p.id}}"><button class="btn btn-secondary"
                                    style="margin-bottom:1rem ;" type="submit">Editar</button></form>
                           </li>
                           {% endif %}
                        </div>
                     </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
{% endblock %}