{% extends 'base.html' %}
{% block content %}
<body class="main-layout inner_posituong contact_page">
   <div class="products">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Nossos produtos</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="our_products">
                  <div class="row">
                     {% for p in prods %}
                     <div class="col-md-4 margin_bottom1">
                        <div class="product_box">
                           <figure><img id="imagemprod" src="" alt="Imagem do produto" /></figure>
                           <h3 >{{ p.name }}</h3>
                           <h6 class="font-weight-bold my-2">R$ {{ p.price }}</h6>
                           {% if current_user.is_authenticated and current_user.admin == False%}
                           <li class="list-inline-item m-0">
                              adicionar ao carrinho
                           </li>
                           {% endif %}
                           <li class="list-inline-item m-0">
                              ver produto
                           </li>
                           {% if current_user.admin == True %}
                           <li class="list-inline-item m-0">
                              <form method="POST" action="/produto/excluir/{{ p }}"><button class="btn btn-danger"
                                    style="margin-bottom:1rem ;" type="submit">Excluir</button></form>
                           </li>
                           <li class="list-inline-item m-0">
                              <form method="GET" action="/produto/editar/{{ p }}"><button class="btn btn-secondary"
                                    style="margin-bottom:1rem ;" type="submit">Editar</button></form>
                           </li>
                           {% endif %}
                        </div>
                     </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
{% endblock %}