{% extends 'base.html' %}
{% block content %}

<body class="main-layout inner_posituong contact_page">
   <div class="products">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h1 class="display-4">prod nome</h1>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="our_products">
                  <div class="row">
                     <div class="col-md-12 margin_bottom1">
                        <div class="product_box">
                           <img id="ima" src="" alt="Imagem do produto." />
                           <p class="font-italic text-muted mb-0 small display-4">desc</p>
                           <h6 class="font-weight-bold my-2 display-3">R$ </h6>

                           <div class="two_b">
                              <div><a class="read_more s" onclick="javascript:buy()">Compre agora</a>
                                 <form method="POST" id="buying" action=""></form>
                              </div>
                              <div><a class="read_more" href="/produto">Retornar para tela de produtos</a></div>
                           </div>

                           
                           <a class="read_more" href="/login">Registre-se ou realize o login para comprar!!</a>
                           
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
{% endblock %}