{% extends 'base.html' %}
{% block content %}
<body class="main-layout inner_posituong contact_page">
   <div class="products">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Nosso principal, único e próprio produto!!</h2>
                  <h1 class="display-4">Raider GE76 - 12U </h1>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="our_products">
                  <div class="row">
                     <div class="col-md-12 margin_bottom1">
                        <div class="product_box">
                           <img id="ima" src="{{important_prod[0].url_foto}}" alt="Imagem do produto." />
                           <p class="font-italic text-muted mb-0 small display-4">{{ important_prod[0].desc }}</p>
                           <h6 class="font-weight-bold my-2 display-3">R$ {{ important_prod[0].preco }}</h6>
                           {% if "usuario_logado" in session %}
                           <a class="read_more" href="/reservar">Reserve agora!</a>
                           {% else %}
                           <a class="read_more" href="/login">Registre-se ou realize o login para reservar!!</a>
                           {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
{% endblock %}